.heading {
    text-align: center;
    font-size: 44px;
}
.grid-design {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}